<main>
  <h1>Welcome!</h1>
  <p>This is my page.</p>

  <hr/>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec tincidunt urna. Phasellus nibh quam, faucibus
    sit amet dignissim eget, accumsan vitae turpis. Etiam lacinia mi ut sagittis rhoncus. Praesent sagittis, erat id
    finibus pretium, enim sem iaculis velit, at euismod velit quam ac felis. Nulla vel facilisis justo. Nunc ut gravida
    nunc, ac aliquet lectus. Pellentesque finibus a nisl ac faucibus. Mauris hendrerit, justo sit amet posuere
    scelerisque, ante dui semper urna, at dapibus diam metus non mauris. Aenean nec tincidunt dolor. Etiam imperdiet
    cursus sem, in gravida orci ultricies non. Mauris mattis quam quis felis posuere eleifend. Morbi nulla enim, aliquam
    quis varius nec, rutrum vitae nunc. Nulla finibus ipsum non ipsum vulputate eleifend. Nullam risus elit, finibus
    sodales enim et, tincidunt dapibus sapien. Sed eget gravida lacus, a vehicula orci.</p>
</main>
