<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" i18n="Navbar Brand|This is the navbar brand@@navbarBrand">
      My Page
    </a>
    <div ngbDropdown class="d-inline-block" display="dynamic">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fas fa-globe fa-fw"></i>
      </button>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1">
        <a class="btn" ngbDropdownItem>
          English
        </a>
        <a class="btn" ngbDropdownItem>
          Español
        </a>
      </div>
    </div>
  </div>
</nav>

<app-main></app-main>
